.task-list {
  // .task-list__item

  &__item {
    // .task-list__item_completed

    &_completed {
      .task-list__checkbox {
        opacity: 0.5;

        span:before {
          @extend %icon;
          content: "\ea10";
          position: absolute;
          top: rem(3);
          left: rem(3);
        }
      }

      .task-list__text {
        opacity: 0.5;
        text-decoration: line-through;
      }
    }
  }

  // .task-list__checkbox

  &__checkbox {
    cursor: pointer;

    input {
      display: none;
    }
  }

  // .task-list__text

  &__text {
    flex: 1 1 auto;
    word-break: break-word;

    @media (max-width: $mobile) {
      font-size: rem(14);
    }
  }

  // .task-list__popup-warning

  &__popup-change {
    display: flex;
    align-items: center;
    gap: rem(15);
  }

  // .task-list__action

  &__action {
  }

  // .task-list__change-input

  &__change-input {
    @include responsiveValue("min-width", 500, 202);
  }
}
