*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: $minWidth + px;
}

body {
  font-family: $fontFamily;
  font-size: $fontSize;
  line-height: 1;
  color: $mainColor;
  background-color: $mainBg;
  transition: color, background-color 0.3s ease 0s;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: inherit;
}

input,
textarea {
  outline: none;
}

textarea {
  resize: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
