@import "./ThemeSwitcher/ThemeSwitcher.scss";

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  backdrop-filter: blur(rem(5));

  // .header__container

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: em(70, 40);
    font-size: rem(40);
  }

  // .header__logo

  &__logo {
    font-family: $fontFamily;
  }

  a,
  button {
    transition: all 0.3s ease 0s;

    &:hover {
      opacity: 0.5;
    }
  }
}
