@import "./ThemeSwitcher/ThemeSwitcher.scss";
@import "./ScrollTop/ScrollTop.scss";

.header {
  position: relative;

  // .header__container

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: rem(70);
    font-size: rem(40);
  }

  // .header__logo

  &__logo {
    font-family: $fontFamily;
  }

  a,
  button {
    transition: all 0.3s ease 0s;

    &:hover {
      opacity: 0.5;
    }
  }
}
